<!DOCTYPE HTML>

<html>

<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="about.component.css" />
</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">Certificare</a>
            <nav id="nav">
                <a routerLinkActive="active" [routerLink]="'/'">Home</a>
                <a routerLinkActive="active" [routerLink]="'/entervin'">VinCheck</a>
                <a routerLinkActive="active" [routerLink]="'/about'">About Us</a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <section id="main">
        <div class="inner">
            <header class="major special">
                <h1>About Us</h1>
                <p>Certicare lorem ipsum</p>
            </header>
            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/skel.min.js"></script>
            <script src="../assets/js/util.js"></script>
            <script src="../assets/js/main.js"></script>
            </div>
    </section>
</body>

</html>